aiohttp ~= 3.8.1
aioredis ~= 2.0.1
ansicolors ~= 1.1.8
asyncpg ~= 0.25.0
beautifulsoup4 ~= 4.8.0
colormath ~= 3.0.0
colorthief ~= 0.2.1
colour ~= 0.1.5
dblpy ~= 0.4.0
emoji ~= 0.6.0
isodate ~= 0.6.0
git+https://github.com/cristobalcl/geopatterns.git#egg=geopatterns
gtts ~= 2.0.4
google-api-python-client == 2.33.0
lxml ~= 4.6.2
matplotlib ==3.5.1
numpy ~= 1.21.5
pillow ~= 9.0.0
psutil ~= 5.7.2
python-magic==0.4.18 # required on windows: pip install python-magic-bin
pytz ~= 2021.3
requests-html ~= 0.10.0
sanic ~= 20.6.3
selenium ~= 3.141.0
validators ~= 0.14.0
yt_dlp
git+https://github.com/Pycord-Development/pycord.git#egg=py-cord[voice]
tatsu.py~=1.0.4
