aiohttp ~= 3.8.1
aioredis ~= 2.0.1
ansicolors ~= 1.1.8
asyncpg ~= 0.25.0
beautifulsoup4 ~= 4.8.0
colormath ~= 3.0.0
colorthief ~= 0.2.1
colour ~= 0.1.5
git+https://github.com/top-gg/python-sdk.git#egg=topggpy
emoji ~= 0.6.0
isodate ~= 0.6.0
git+https://github.com/cristobalcl/geopatterns.git#egg=geopatterns
gtts ~= 2.0.4
google-api-python-client == 2.33.0
lxml ~= 4.6.2
matplotlib == 3.5.1
numpy ~= 1.21.5
pillow ~= 9.0.0
psutil ~= 5.7.2
python-magic==0.4.18 # required on windows: pip install python-magic-bin
pytz==2022.1
requests-html ~= 0.10.0
sanic ~= 22.3.0
selenium ~= 3.141.0
validators ~= 0.18.2
yt-dlp
disnake[voice,speed]~=2.4.0
tatsu.py~=1.0.4
